.navbar {
  display: block;
  max-width: 1140px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  z-index: 1;
  @media screen and (min-width: 1400px) {
    padding: 30px 0;
    position: absolute;

    max-width: 1440px;
  }
  .logo {
    font-family: "Courgette", cursive;
    font-size: 30px;
    letter-spacing: 1px;
    b {
      color: #fff;
      text-shadow: 0 -4px 100px, 0 0 2px, 0 0 1em #3d1c56, 0 0 0.5em #3d1c56,
        0 0 0.1em #3d1c56, 0 6px 3px #000;
      span {
        animation: blink linear infinite 2s;
        &:nth-of-type(2) {
          animation: blink linear infinite 3s;
        }
      }
    }
  }
  .links {
    z-index: 21;
    display: flex;
    justify-content: center;
    gap: 10px;
    &:hover {
      cursor: none;
    }
    .link {
      width: 30px;
      height: 30px;
      &:hover {
        cursor: none;
      }
    }
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
