.App {
  background-color: #000;
}
.App .container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.section {
  height: 100vh;
  color: #fff;
  scroll-snap-align: center;
}
