.App {
  background-color: #000;
  position: relative;
  background: url("../public/bg.jpg") center center;
}

.layout {
  height: 100%;
  width: 100%;
  cursor: url("./assets/circle.svg"), auto;
}
.layout.dark {
  cursor: url("./assets/circleDark.svg"), auto;
}
.layout.dark .circle {
  border: 1px solid #000;
}
.App .container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.section {
  height: 100vh;
  color: #fff;
  scroll-snap-align: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.circle {
  pointer-events: none;
  z-index: -1;
  width: 45px;
  height: 45px;
  content: "";
  visibility: hidden;
  border-radius: 50%;
  transition: all 0.1s ease;
  border: 1px solid #fff;
  position: absolute;
  z-index: 1000;

  margin: 0;
}
.circle.dark {
  width: 100px;
}

button {
  cursor: url("./assets/circle.svg"), auto;
}

@media screen and (min-width: 1500px) {
  .section {
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    margin: 0 auto;
  }
}
