.App {
  background-color: #000;
  position: relative;
  cursor: url("./assets/circle.svg"), auto;
}
.App .container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.section {
  height: 100vh;
  color: #fff;
  scroll-snap-align: center;
  font-family: "Roboto", sans-serif;
}

.circle {
  pointer-events: none;
  z-index: -1;
  width: 35px;
  height: 35px;
  content: "";
  visibility: hidden;
  border-radius: 50%;
  transition: all 0.1s ease;
  border: 1px solid #fff;
  position: absolute;
  z-index: 1000;
}
